body {
  background: antiquewhite;
}

.operation-rect {
  cursor: pointer;
}

.fs-readfile {
  fill: orange;
}

.tls-server-connection {
  fill: lightblue;
}

.tcp-server-listen {
  fill: blue;
}

.http-client-connection {
  fill: #d0e5ec;
}

.label {
  font-weight: bold;
}

.code { 
  white-space: pre;
  background: #222;
  color: yellowgreen;
  padding: 5px;
  margin-top: 10px;
  border: solid silver;
  border-radius: 5px;
  font-family: Menlo, Courier New, Monospace;
  font-size: 14px;
  width: 680px
}

.operation-details-table {
  max-width: 850px;
  max-height: 600px;
  overflow: scroll;
}

/* tableify */
table {
  font-size: 12px;
  border: silver 1px solid;
  border-collapse : collapse;
}

td, th {
  text-align : left;
  vertical-align : top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left : 4px;
  padding-right : 4px;
}

th {
  font-weight: bold;
  color: darkgreen;
  border-bottom: silver 1px solid;
}

th:after {
  content: ':';
}

td.number {
  color : blue
}

td.boolean {
  color : green;
  font-style : italic;
}

td.date {
  color : purple;
}

td.null:after {
  color : gray;
  font-style : italic;
  content : null;
}
