body {
  background: #ddd;
}

.operation-rect {
  cursor: pointer;
}

.fs-readfile {
  fill: orange;
}

.label {
  font-weight: bold;
}

.code { 
  white-space: pre;
  background: #222;
  color: yellowgreen;
  padding: 5px;
  margin-top: 10px;
  border: solid silver;
  border-radius: 5px;
  font-family: courier;
  font-size: 12px;
  width: 680px
}
